.container-home,
.container-cobrancas {
    max-width: 100vw;
    min-height: 100vh;

    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.conteudo-home,
.conteudo-cobrancas {
    width: 100%;
    min-height: 100vh;
    padding: 0 3.2rem 3.2rem 14rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.conteudo-home div.home-cobrancas,
.conteudo-cobrancas div.cobrancas {
    width: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.conteudo-home div.home-cobrancas div.resumo-cobrancas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
}

.conteudo-home div.home-cobrancas div.card-resumo-cobranca {
    width: 360px;
    height: 111px;
    color: var(--cor-cinza-2);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 23px 40px;
    gap: 40px;
    border-radius: 30px;
}

.conteudo-home div.home-cobrancas div.card-resumo-cobranca.paga {
    background-color: var(--cor-apoio-container-azul);
}

.conteudo-home div.home-cobrancas div.card-resumo-cobranca.vencida {
    background-color: var(--cor-apoio-container-rosa);
}

.conteudo-home div.home-cobrancas div.card-resumo-cobranca.prevista {
    background-color: var(--cor-apoio-container-amarelo);
}

.conteudo-home div.home-cobrancas div.card-resumo-conteudo {
    text-align: center;
}

.conteudo-home div.home-cobrancas div.detalhes-cobrancas,
.conteudo-home div.home-cobrancas div.detalhes-clientes {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 3.2rem;
}